[submodule "tvm-gdb-extension"]
	path = external/tvm-gdb-extension
	url = https://github.com/Lunderberg/tvm-gdb-extension
[submodule "external/single-site-browser"]
	path = external/single-site-browser
	url = git@github.com:Lunderberg/single-site-browser
