[submodule "tvm-gdb-extension"]
	path = external/tvm-gdb-extension
	url = https://github.com/Lunderberg/tvm-gdb-extension
[submodule "external/single-site-browser"]
	path = external/single-site-browser
	url = git@github.com:Lunderberg/single-site-browser
[submodule "external/settings-private"]
	path = external/settings-private
	url = git@github.com:Lunderberg/settings-private
[submodule "nix-config/secrets"]
	path = nix-config/secrets
	url = git@github.com:Lunderberg/nix-config-secrets.git
