*~
*.pyc
build
dist

dot_emacs.d/tramp
dot_emacs.d/.org-id-locations
dot_emacs.d/ede-projects.el
dot_emacs.d/elpa
dot_emacs.d/.emacs.desktop
dot_emacs.d/.emacs.desktop.lock
dot_emacs.d/custom.el
dot_emacs.d/.lsp-session-v1
dot_emacs.d/transient
dot_emacs.d/request
dot_emacs.d/emojis
dot_emacs.d/projects
dot_emacs.d/projectile-bookmarks.eld

bin/clangd
bin/clangd_12.0.0
